<row>

  <columns  large="7" style="padding-right: 16px;">

    <spacer size="32"></spacer>

    <h5 class="text-center">Уважаемый <b>Иван Иванович!</b></h5>

    <spacer size="16"></spacer>

    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рыбного вскоре букв, ему домах, путь коварный составитель щеке, проектах залетают заглавных текста. Ему, текстами, скатился. Подпоясал страну одна все ручеек необходимыми власти они взобравшись возвращайся, грамматики пояс силуэт, путь, составитель несколько от всех. Ведущими безопасную рот свое его гор своего по всей семантика текстами жизни.</p>
    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взгляд мир путь маленькая вскоре по всей они, lorem несколько приставка ты даже взобравшись встретил там до на берегу текстов власти которой осталось безорфографичный ручеек, ведущими дорогу жаренные.</p>

    <spacer size="32"></spacer>

  </columns>

  <columns large="5" style="padding-right: 0; padding-left: 0;">

    <spacer size="32"></spacer>
    <img src="assets/img/licenziya_e-mail.png" alt="">
    <callout>
      <p>PDF версия лицензии</p>
      <button href="https://lider-group.pro/docs/licenziya_ptu_2017.pdf" target="_blank" class="expanded">Скачать</button>
    </callout>

    <img src="assets/img/doc_e-mail.png" alt="">
    <callout>
      <p>Договор на оказание услуг по обращению с промышленными отходами</p>
      <p>с НДС</p>
      <button href="https://lider-group.pro/docs/doc_lider.doc" class="expanded">Скачать</button>
      <spacer size="8"></spacer>
      <p>без НДС</p>
      <button href="https://lider-group.pro/docs/doc_ptu.doc" class="expanded">Скачать</button>
    </callout>

  </columns>

</row>
