<wrapper>

  <row>
    <img src="https://lider-group.pro/img/email/ecohelp.jpg" alt="">
  </row>

</wrapper>

<wrapper>

  <row>
    <spacer size="32"></spacer>

    <h5 class="text-center">Уважаемый <b>Иван Иванович!</b></h5>

    <spacer size="16"></spacer>

    <p>Документооборот экологического отдела предприятия по объёму можно сопоставить с бухгалтерией или любым другим отделом с большим документооборотом. Кроме общих и отчетных документов экологический отдел должен постоянно следить за документами, которые отражают обращение с отходами производства и потребления. Это наиболее важное направление работы экологического отдела, т.к. при паспортизации отхода и при разработке ПНООЛР допускается наибольшее число критических ошибок, которые приводят к огромным штрафам и причинению вреда окружающей среде.</p>
    <p>Опыт показывает, что все указанные риски, снимаются в том случае, если оператор по обращению с отходами берет на себя экологическое сопровождение отходообразующего предприятия, начиная с паспортизации и определения компонентной составляющей отхода, заканчивая сбором, транспортировкой и конечной утилизацией.</p>
    <p><b>Отдел «Экологического сопровождения» ООО «ПромТехУтилизация» это оперативное решение вопросов, связанных с документооборотом отходообразующего предприятия:</b></p>
    <ul>
      <li>Паспортизация отхода 1-4 классов опасности</li>
      <li>Проекты ПНООЛР, ПВД, СЗЗ, НДС (водный объект)</li>
      <li>Компонентный состав отходов, отбор проб загрязнения атмосферы, хим. анализ воды</li>
      <li>Отчетность МСП, экологический сбор, НВОС и другая статистическая отчетность</li>
      <li>Сопровождение отходообразующих предприятий при проверках надзорными органами</li>
    </ul>
    <p>Все анализы и заключения разрабатываются в аккредитованной экоаналитической лаборатории оснащенной современной технической базой, а также всем необходимым программным обеспечением.</p>
    <img src="https://lider-group.pro/assets/img/docs/atestat_ecobez.jpg" alt="">

    <spacer size="32"></spacer>

    <callout class="success">
      <row>
        <columns small="12">
          <spacer size="16"></spacer>
          <p>Скачать полный перечень документов, которые могут быть затребованы при поведении мероприятий по осударственному экологическому надзору.</p>
          <button href="https://lider-group.pro/perechen_documentov.doc" class="light-green">Скачать документ</button>
        </columns>
      </row>
    </callout>

    <spacer size="32"></spacer>

  </row>

</wrapper>
