<wrapper>

  <row>
    <img src="https://lider-group.pro/img/email/ecohelp.jpg" alt="">
  </row>

</wrapper>

<wrapper>

  <row>
    <spacer size="32"></spacer>

    <h5 class="text-center">Уважаемый <b>Иван Иванович!</b></h5>

    <spacer size="16"></spacer>

    <p>Напоминаем Вам, что в связи с годом экологии усилены меры экологической и промышленной безопасности, что в свою очередь влечет пристальное внимание к отходообразующим предприятиям со стороны надзорных и контролирующих органов.</p>

    <p>Наибольшее число критических ошибок, которые приводят к огромным штрафам и причинению вреда окружающей среде допускаются при паспортизации отхода и при разработке экологической документации.</p>

    <p>Многолетний опыт показывает, что все риски снимаются в том случае, если оператор по обращению с отходами берет на себя экологическое сопровождение отходообразующего предприятия.</p>

    <p><b>Нашей компанией был создан отдел «Экологического сопровождения», деятельность которого в полной мере решает вопросы документооборота в сфере обращения с отходами предприятий, являющихся клиентами компании:</b></p>
    <ul>
      <li>Бесплатные консультации по любым вопросам обращения с отходами производства</li>
      <li>Проекты ПНООЛР, СЗЗ</li>
      <li>Компонентный состав отходов</li>
      <li>Паспортизация отхода</li>
      <li>Отчетность МСП, экологический сбор, НВОС</li>
      <li>Юридическое сопровождение при проверках надзорными органами</li>
    </ul>

    <p>Все анализы и заключения разрабатываются в аккредитованной экоаналитической лаборатории оснащенной современной технической базой, а также всем необходимым программным обеспечением.</p>

    <spacer size="16"></spacer>

    <img src="https://lider-group.pro/assets/img/docs/atestat_ecobez_email.jpg" alt="">

    <spacer size="24"></spacer>

    <center>

      <a href="https://lider-group.pro/eco.html" target="_blanc" class="text-center">Узнать больше о экологическом сопровождении...</a>

    </center>


    <spacer size="32"></spacer>

    <callout class="success">
      <row>
        <columns small="12">
          <spacer size="16"></spacer>
          <p>Скачать полный перечень документов, которые могут быть затребованы при поведении мероприятий по государственному экологическому надзору.</p>
          <button href="https://lider-group.pro/eco.html" target="_blanc" class="light-green">Скачать документ</button>
        </columns>
      </row>
    </callout>

    <spacer size="32"></spacer>

  </row>

</wrapper>
