<wrapper>
  <row>
    <img src="assets/img/ecologist_2017.png" alt="">
  </row>
</wrapper>

<wrapper>

  <row>
    <spacer size="32"></spacer>

    <h5 class="text-center"><b>Уважаемые коллеги!</b></h5>

    <spacer size="16"></spacer>

    <p><b>Поздравляем Вас с Днем Эколога! </b>Желаем, чтобы не только во всемирный день охраны окружающей среды помнили о насущности и впжности вашей работы. Пусть глобальность вашего труда будет оценена по достоинству.</p>

		<ruby>Пусть всегда находится нужное финансирование и помощ по специфике. Будьте настойчивы,  верны своим убеждениям и стремительно улучшайте наш великолепный мир!</ruby>

  </row>

</wrapper>