<wrapper class="review">

  <container>


    <row>
      <columns large="6"  class="review" style="padding: 16px;">
        <img src="https://lider-group.pro/assets/img/Azbuka_eco_PTU.png" alt="">
        <h5 class="text-center"><b>Решение главных вопросов экологии</b></h5>
        <p class="text-center"><small>ЭКОЛОГУ ПРЕДПРИЯТИЯ</small></p>
        <button class="expand" href="https://lider-group.pro/buklet_lg.pdf" target="_blank">Скачать книгу</button>
      </columns>
      <columns large="6" class="light-green" style="padding: 16px;">
        <h5 class="text-contacts"><b>Контакты</b></h5>
        <spacer size="10"></spacer>
        <p class="text-contacts">Адрес:</p>
        <p class="contact-content">426011, Удмуртская Республика</p>
        <p class="contact-content">г. Ижевск, ул. Майская, д.8, оф.39</p>
        <p class="text-contacts">Приемная:</p>
        <p class="contact-content">+7 (3412) 77-56-04</p>
        <p class="text-contacts">Отдел РПО:</p>
        <p class="contact-content">+7 (922) 523-50-44</p>
        <p class="text-contacts">E-mail:</p>
        <p class="contact-content"><a href="mailto:office@lider-group.pro" target="_blank">office@lider-group.pro</a></p>
        <p class="text-contacts">Сайт:</p>
        <p class="contact-content"><a href="https://lider-group.pro/" target="_blank">www.lider-group.pro</a></p>
      </columns>
    </row>

  </container>



</wrapper>

<wrapper class="copyright">
  <spacer size="10"></spacer>
  <p class="text-center copyright-content"><small>Copyright © </small>ПромТехУтилизация 2016</p>
</wrapper>
