<wrapper>
  <row>

    <columns small="12" large="12" style="padding-right: 32px;">
      <spacer size="16"></spacer>
      <a href="https://lider-group.pro/" target="_blank">
        <img src="https://lider-group.pro/assets/img/logo-header.png" alt="">
      </a>
    </columns>

    <!-- <columns small="2" class="show-for-large"></columns> -->
    <columns small="3" class="light-green" class="show-for-large"></columns>
    <columns small="3" class="medium-green" class="show-for-large"></columns>
    <columns small="3" class="dark-green" class="show-for-large"></columns>
    <columns small="3" class="medium-gray" class="show-for-large" style="padding-right: 8px;"></columns>

  </row>
</wrapper>

<wrapper>

  <row>
    <img src="https://lider-group.pro/img/ecobook_hero.jpg" alt="">
  </row>

</wrapper>
