<row>

  <columns small="12" large="12" style="padding-right: 32px; padding-bottom: 8px;">
    <spacer size="8"></spacer>
    <a href="https://lider-group.pro/" target="_blank">
      <img src="https://lider-group.pro/assets/img/logo-header.png" alt="">
    </a>
  </columns>

  <!-- <columns small="2" class="show-for-large"></columns> -->
  <columns small="2" class="light-green" class="show-for-large"></columns>
  <columns small="2" class="medium-green" class="show-for-large"></columns>
  <columns small="2" class="dark-green" class="show-for-large"></columns>
  <columns small="2" class="medium-gray" class="show-for-large" style="padding-right: 8px;"></columns>

</row>
