<container>

  <wrapper class="review">

    <spacer size="16"></spacer>

    <row>

      <columns small="12" large="3">
        <img src="https://lider-group.pro/assets/img/korec.jpg" alt="">
      </columns>

      <columns small="12" large="9">
        <h5>КОРЕЦКИЙ <br>Владимир Павлович</h5>
        главный редактор журнала «Промышленная и экологическая безопасность, охрана труда», кандидат физико-математических наук
      </columns>

    </row>

    <row>
      <columns small="12">
        <p>Книга «Решения главный вопросов экологии» - это уникальный информационный продукт. За десять лет, в течение которых мы издаем журнал «Промышленная и экологическая безопасность», нам очень редко попадался столь объемный труд в столь оптимальной форме. Когда мне попало в руки первое издание...</p>
        <a href="https://lider-group.pro/eco-book.html" class="text-right">Читать продолжение...</a>
      </columns>
    </row>

  </wrapper>

  <spacer size="32"></spacer>

  <wrapper class="review">

    <spacer size="16"></spacer>

    <row>

      <columns small="12" large="3">
        <img src="https://lider-group.pro/assets/img/akshanceva.jpg" alt="">
      </columns>

      <columns small="12" large="9">
        <h5>АКШЕНЦЕВА <br>Лейсан Галиахметовна</h5>
        директор АНО ДПО "Учебно-деловой центр "Специалист"
      </columns>

    </row>

    <row>
      <columns small="12">
        <p>Так называемую «Азбуку эколога» - издание «Решения главных вопросов экологии», разработанную специалистами ООО «ПромТехУтилизация», Центр дистанционного обучения «Специалист» активно использует в ходе обучения экологической и промышленной безопасности. Это очень удобное пособие для экологов предприятия, а так же для...</p>
        <a href="https://lider-group.pro/eco-book.html" class="text-right">Читать продолжение...</a>
      </columns>
    </row>

  </wrapper>

  <spacer size="32"></spacer>

</container>
