<container>

  <wrapper class="review">

    <spacer size="16"></spacer>

    <row>

      <columns small="12" large="3">
        <img src="https://lider-group.pro/assets/img/korec.jpg" alt="">
      </columns>

      <columns small="12" large="9">
        <h5>КОРЕЦКИЙ <br>Владимир Павлович</h5>
        главный редактор журнала «Промышленная и экологическая безопасность, охрана труда», кандидат физико-математических наук
      </columns>

    </row>

    <row>
      <columns small="12">
        <p>Книга «Решения главный вопросов экологии» - это уникальный информационный продукт. За десять лет, в течение которых мы издаем журнал «Промышленная и экологическая безопасность», нам очень редко попадался столь объемный труд в столь оптимальной форме. Когда мне попало в руки первое издание книги, я ознакомил с ней всю нашу редакцию. «Здесь есть все темы, которые мы освещаем и должны освещать в нашем издании. Наше дело искать нюансы для специалистов в соответствии с общей стратегией", - сказал я коллегам.</p>
      </columns>
    </row>

  </wrapper>

  <spacer size="32"></spacer>

  <wrapper class="review">

    <spacer size="16"></spacer>

    <row>

      <columns small="12" large="3">
        <img src="https://lider-group.pro/assets/img/akshanceva.jpg" alt="">
      </columns>

      <columns small="12" large="9">
        <h5>АКШЕНЦЕВА <br>Лейсан Галиахметовна</h5>
        директор АНО ДПО "Учебно-деловой центр "Специалист"
      </columns>

    </row>

    <row>
      <columns small="12">
        <p>Так называемую «Азбуку эколога» - издание «Решения главных вопросов экологии», разработанную специалистами ООО «ПромТехУтилизация», Центр дистанционного обучения «Специалист» активно использует в ходе обучения экологической и промышленной безопасности. Это очень удобное пособие для экологов предприятия, а так же для специалистов, не имеющих профильного образования, на которых возложены данные обязанности. Удобный формат, простая подача материала, отсутствие «текстовой воды» делают это издание действительно рабочим инструментом.</p>
      </columns>
    </row>

  </wrapper>

  <spacer size="32"></spacer>

</container>
